<div class='container'>
  <div class='row'>
    <h3 class="mx-auto"><b><%= @user.name %>のページ</b></h3>
  </div>
  <div class='row py-5'>
    <div class='col-6'>
      <div class="card h-100">
        <div class="card-body">
          <%= image_tag @user.get_image.variant(resize:"120x120^", gravity: :center, crop:"500x500+0+0").processed, class: "border border-5 rounded-3" %>
          <%= @user.name %>
          <% if @user.id == current_user.id %>
            <%= link_to edit_user_path(@user.id), class: "btn btn-outline-dark" do %>
              <i class="fa-solid fa-user-pen fa-lg"></i>
            <% end %>
            <%= link_to users_unsubscribe_path, class: "ml-3 btn btn-outline-dark" do %>
              <i class="fa-solid fa-trash fa-lg"></i>
            <% end %>
          <% else %>
            <%= render 'relationships/followbtn', user: @user %>
          <% end %>
          <h6 class="card-subtitle mt-3"><b>年代</b>：<%= @user.age_i18n %></h6>
          <h6 class="card-subtitle mt-3"><b>性別</b>：<%= @user.gender_i18n %></h6>
          <h6 class="card-subtitle mt-3"><b>お住まい</b>：<%= @user.area_i18n %></h6>
          <p class="card-text mt-3"><b>自己紹介</b><br><%= @user.introduction %></p>
        </div>
      </div>
    </div>
    <div class='col-3'>
      <div class="card h-100">
        <div class="card-header"><b><%= @user.name %>のフォロー</b></div>
        <%= render 'relationships/followlist', users: @followed_users %>
      </div>
    </div>
    <div class='col-3'>
      <div class="card h-100">
        <div class="card-header"><b><%= @user.name %>のフォロワー</b></div>
        <%= render 'relationships/followlist', users: @follower_users %>
      </div>
    </div>
  </div>
  <div class='row pb-5'>
    <%= render 'templates/review_index', reviews: @user.reviews %>
  </div>
</div>