<div class='container'>
  <div class='row'>
    <div class='col-12 my-5'>
      <div class="card h-100">
        <div class="card-header"><b><%= @user.name %> のページ</b></div>
        <div class="card-body">
          <h6 class="card-title"><b>年代</b>：<%= @user.age_i18n %></h6>
          <h6 class="card-title"><b>性別</b>：<%= @user.gender_i18n %></h6>
          <h6 class="card-title"><b>お住まい</b>：<%= @user.area_i18n %></h6>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <% @user.reviews.each do |review| %>
    <div class='col-4 mb-5'>
      <div class="card h-100">
        <div class="card-header"><b>投稿日</b> <%= review.created_at.strftime( '%Y.%m.%d' ) %></div>
        <div class="card-body">
          <h4 class="card-title mt-3"><b><%= review.title %></b></h4>
          <h6 class="card-subtitle mt-3 text-muted">ご利用日 <%= review.date.strftime( '%Y.%m.%d' ) %></h6>
          <p class="card-text mt-3 text-truncate"><%= review.body %></p>
          <%= link_to "Read More", review_path(review.id), class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>