<div class='container'>
  <div class='col'>
    <h4>会員ログイン</h4>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="table">
      <tr>
        <th>メールアドレス</th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
      </tr>
      <tr>
      <% if devise_mapping.rememberable? %>
        <td colspan="2">
          <%= f.check_box :remember_me %>
          <span>次回から自動でログインする</span>
        </td>
      <% end %>
      </tr>
      <tr>
        <td colspan="2"><%= f.submit "ログイン", class: "btn btn-sm btn-success" %></td>
      </tr>
    </table>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>