<% if hotels.present? %>
  <% hotels.each do |hotel| %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <% if user_signed_in? %>
        <%= link_to hotel_path(hotel), class: "btn btn-outline-dark" do %>
          <i class="fa-solid fa-hotel fa-lg"></i>
        <% end %>&nbsp;
      <% elsif admin_signed_in? %>
        <%= link_to admins_hotel_path(hotel), class: "btn btn-outline-dark" do %>
          <i class="fa-solid fa-hotel fa-lg"></i>
        <% end %>&nbsp;
      <% end %>
      <%= hotel.hotel_name %>（<%= hotel.area_i18n %>）
      <% if admin_signed_in? %>
        <%= link_to admins_hotel_path(hotel), method: :delete,
            data: { confirm: "削除しますか？" }, class:"ml-3 btn btn-outline-dark" do %>
          <i class="fas fa-trash fa-lg"></i>
        <% end %>
      <% end %>
    </li>
  </ul>
  <% end %>
<% else %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">まだホテルは登録されていません</li>
  </ul>
<% end %>