<div class='container'>
  <div class='row py-5'>
    <div class='col-6'>
      <div class="card h-100">
        <div class="card-header"><b>ホテル情報</b></div>
        <%= form_with model: @hotel, url: admins_hotel_path(@hotel), method: :patch do |f| %>
        <div class="card-body">
          <div class="form-group">
            <label><b>ホテル名</b></label>
            <%= f.text_field :hotel_name, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>エリア</b></label>
            <%= f.select :area, Hotel.areas_i18n.invert, {}, class: "form-control" %>
          </div>
          <%= link_to admins_hotels_path, class: "btn btn-outline-dark" do %>
            <i class="fas fa-undo-alt fa-lg"></i>
          <% end %>
          <%= button_tag type: "submit", class: "ml-3 btn btn-outline-dark" do %>
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <div class='col-6'>
      <%= render 'templates/review_list', hotel: @hotel %>
    </div>
  </div>
</div>