<div class='container'>
  <div class='row'>
    <div class='col-12 my-5'>
      <div class="card h-100">
        <div class="card-header"><b>必要事項を入力して編集してください</b></div>
        <%= form_with model: @review, url: review_path, method: :patch do |f| %>
        <div class="card-body">
          <div class="form-group">
            <label><b>レビューのタイトル</b><i>（20文字以内）</i></label>
            <%= f.text_field :title, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>レビューの本文</b><i>（400文字以内）</i></label>
            <%= f.text_area :body, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>ご利用日</b><i>（ご入力は任意です）</i></label>
            <%= f.date_field :date, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>旅行者タイプ</b></label>
            <%= f.select :traveler, Review.travelers_i18n.invert, {}, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Save", class: "btn btn-outline-dark" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>