<div class='container'>
  <div class='row'>
    <div class='col-12 my-5'>
      <div class="card h-100">
        <div class="card-header"><b>投稿日 <%= @review.created_at.strftime( '%Y.%m.%d' ) %></b></div>
        <div class="card-body">
          <h4 class="card-title mt-3"><b><%= @review.title %></b></h4>
          <h5 class="card-subtitle mt-3">
            <%= @review.user.name %>&nbsp;
            <%= link_to user_path(@review.user), class: "btn btn-outline-dark" do %>
              <i class="fas fa-user"></i>&nbsp;Show User
            <% end %>
          </h5>
          <p class="card-text mt-3"><%= @review.body %></p>
          <% if @review.date.present? %>
            <p class="card-text">利用日：<%= @review.date.strftime( '%Y.%m.%d' ) %></p>
          <% else %>
            <p class="card-text">利用日：不明</p>
          <% end %>
          <p class="card-text">旅行者タイプ：<%= @review.traveler_i18n %></p>
          <% if @review.user == current_user %>
            <%= link_to "Edit", edit_review_path(@review.id), class:"btn btn-outline-dark" %>
            <%= link_to "Delete", review_path(@review.id), method: :delete, class:"btn btn-outline-dark" %>
          <% else %>
            <%= render 'bookmarks/bookmark', review: @review %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>