<div class='container'>
  <div class='row'>
    <div class='col-12 my-5'>
      <div class="card h-100">
        <div class="card-header"><b>必要事項を入力して編集してください</b></div>
        <%= form_with model: @user, url: admins_user_path(@user.id), method: :patch do |f| %>
        <div class="card-body">
          <div class="form-group">
            <label><b>ユーザ名</b></label>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>年代</b></label>
            <%= f.select :age, User.ages_i18n.invert, {}, class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>性別</b></label>
            <%= f.select :gender, User.genders_i18n.invert, {}, class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>お住まい</b></label>
            <%= f.select :area, User.areas_i18n.invert, {}, class: "form-control" %>
          </div>
          <div class="form-group">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-outline-dark" style="width:50%">
                <%= f.radio_button :is_deleted, "false" %> 有効
              </label>
              <label class="btn btn-outline-dark" style="width:50%">
                <%= f.radio_button :is_deleted, "true" %> 退会
              </label>
            </div>
          </div>
          <div class="form-group">
            <%= link_to "Show User", admins_user_path(@user.id), class: "btn btn-outline-dark" %>
            <%= f.submit "Update", class: "btn btn-outline-dark" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>