<%= form_with model: hotel, url: hotels_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.text_field :hotel_name, autofocus: true, class: "form-control", :placeholder => "ホテル名を入力してください" %>
  </div>
  <%= f.hidden_field :lat,:value =>"緯度", id: :lat %>
  <%= f.hidden_field :lng,:value =>"経度", id: :lng %>
  <%= render 'google' %>
  <%= f.submit "登録", data: { confirm: "登録しますか？" }, class: "btn btn-outline-dark" %>
<% end %>