<div class='container'>
  <div class='row py-5'>
    <div class='col-6'>
      <div class="card h-100">
        <div class="card-header"><b>ホテル情報</b></div>
        <div class="card-body">
          <h4 class="card-title"><b><%= @hotel.hotel_name %></b></h4>
          <div class='d-flex'>
            <h5 class="my-auto mr-2"><%= @hotel.avg_score_percentage %></h5>
            <div class="average-rating" data-score=<%= @hotel.avg_score %>></div>
            <script>
            $('.average-rating').empty();
            $('.average-rating').raty({
              readOnly: true,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: function() {
                return $(this).attr('data-score')
              }
            });
            </script>
            <p class="my-auto ml-2">
              <i class="fas fa-comments fa-lg"></i>
              <%= @hotel.reviews.count %>
            </p>
          </div>
          <%= render 'map', hotel: @hotel %>
          <p class="card-text mt-3">
            このホテルを利用されましたか？<br>
            レビューを投稿して体験を共有しましょう
            <%= link_to new_hotel_review_path(@hotel), class: "btn btn-outline-dark" do %>
              <i class="far fa-edit fa-lg"></i>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class='col-6'>
      <div class="card">
        <div class="card-header"><b><%= @hotel.hotel_name %>のレビュー一覧</b></div>
        <%= render 'templates/reviews', reviews: @reviews %>
        <%= paginate @reviews %>
      </div>
    </div>
  </div>
</div>