<div class='container'>
  <div class='row'>
    <div class='col-12 my-5'>
      <div class="card h-100">
        <div class="card-header"><b>管理者ログイン画面</b></div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="card-body">
          <div class="form-group">
            <label><b>メールアドレス</b></label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>パスワード</b></label>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <div class="form-group">
          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
            <span>ログイン情報を保存する</span>
          <% end %>
          </div>
          <div class="form-group">
            <%= f.submit "Log In", class: "btn btn-outline-dark" %>
          </div>
          <p class="card-text mt-2">ユーザとして利用しますか？ ユーザログインは<%= link_to "こちら", new_user_session_path %>から</p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>