<div class='container'>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class='row py-5'>
    <div class='col-12'>
      <div class="card h-100">
        <div class="card-header"><b>ユーザ新規登録画面</b></div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="card-body">
          <div class="form-group">
            <label><b>ユーザ名</b></label>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>年代</b></label>
            <%= f.select :age, User.ages_i18n.invert, {}, class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>性別</b></label>
            <%= f.select :gender, User.genders_i18n.invert, {}, class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>お住まい</b></label>
            <%= f.select :area, User.areas_i18n.invert, {}, class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>メールアドレス</b></label>
            <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="form-group">
            <label><b>パスワード</b></label>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            <% if @minimum_password_length %>
              (<%= @minimum_password_length %>文字以上)
             <% end %>
          </div>
          <div class="form-group">
            <label><b>パスワード（確認用）</b></label>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
          <%= f.submit "Sign Up", class: "btn btn-outline-dark" %>
        </div>
        <% end %>
        <div class="card-footer">
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>